services:
    ssh-server:
        build: .
        container_name: ubuntu-ssh-container
        ports:
            - "2022:2022"
        restart: unless-stopped
        environment:
            - TZ=Asia/Shanghai
        # volumes:
        # 可选：挂载 SSH 配置
        # - ./sshd_config:/etc/ssh/sshd_config
        # 也可以使用 code_online.Dockerfile 构建的镜像 挂在本地的linux版本的code server文件（目录结构保持一致）
        # - ./vscode_server_data:/home/ossapp/.vscode-server
        networks:
            - ssh-network

    # 可选：添加其他服务
    # nginx:
    #   image: nginx:alpine
    #   ports:
    #     - "80:80"
    #   depends_on:
    #     - ssh-server
    #   networks:
    #     - ssh-network

networks:
    ssh-network:
        driver: bridge
